@model CalendarModel
@Html.HiddenFor(model => model.Id)
@Html.HiddenFor(model => model.IsNew)

<div class="content">
    <div class="form-horizontal">
        <div id="calendar-edit" class="nav-tabs-custom">
            <ul class="nav nav-tabs">
                @Html.RenderBootstrapTabHeader("tab-info", @T("Calendar.Info"), true)
            </ul>
            <div class="tab-content">
                @Html.RenderBootstrapTabContent("tab-info", @TabInfo(), true)
            </div>
        </div>
    </div>
</div>

@{
    //custom tabs
    var eventMessage = new AdminTabStripCreated(this.Html, "calendar-edit");
    EngineContext.Current.Resolve<IEventPublisher>().Publish(eventMessage);
    foreach (var eventBlock in eventMessage.BlocksToRender)
    {
        @eventBlock
    }
}

@helper TabInfo()
{
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.BaseEamLabelFor(model => model.Name, required: true)
                            </div>
                            <div class="col-md-9">
                                @Html.BaseEamEditorFor(model => model.Name)
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.BaseEamLabelFor(model => model.Description)
                            </div>
                            <div class="col-md-9">
                                @Html.BaseEamEditorFor(model => model.Description)
                            </div>
                        </div>
                    </div>
                </div>
                <hr />
                <h4>@T("Calendar.WorkingDays")</h4>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.BaseEamLabelFor(model => model.IsSunday)
                            </div>
                            <div class="col-md-9">
                                @Html.BaseEamCheckBoxFor(model => model.IsSunday)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.BaseEamLabelFor(model => model.IsTuesday)
                            </div>
                            <div class="col-md-9">
                                @Html.BaseEamCheckBoxFor(model => model.IsTuesday)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.BaseEamLabelFor(model => model.IsThursday)
                            </div>
                            <div class="col-md-9">
                                @Html.BaseEamCheckBoxFor(model => model.IsThursday)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.BaseEamLabelFor(model => model.IsSaturday)
                            </div>
                            <div class="col-md-9">
                                @Html.BaseEamCheckBoxFor(model => model.IsSaturday)
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.BaseEamLabelFor(model => model.IsMonday)
                            </div>
                            <div class="col-md-9">
                                @Html.BaseEamCheckBoxFor(model => model.IsMonday)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.BaseEamLabelFor(model => model.IsWednesday)
                            </div>
                            <div class="col-md-9">
                                @Html.BaseEamCheckBoxFor(model => model.IsWednesday)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.BaseEamLabelFor(model => model.IsFriday)
                            </div>
                            <div class="col-md-9">
                                @Html.BaseEamCheckBoxFor(model => model.IsFriday)
                            </div>
                        </div>
                    </div>
                </div>
                <hr />
                <h4>@T("Calendar.NonWorkingDates")</h4>
                @Html.Partial("_CalendarNonWorkings", new CalendarNonWorkingModel { CalendarId = Model.Id })
                @if (Model.Id > 0 && Model.IsNew == false)
                {
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-md-3">
                                    @Html.BaseEamLabelFor(model => model.FirstCreatedBy)
                                </div>
                                <div class="col-md-9">
                                    @Html.BaseEamDisplayFor(model => model.FirstCreatedBy)
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-3">
                                    @Html.BaseEamLabelFor(model => model.LastUpdatedBy)
                                </div>
                                <div class="col-md-9">
                                    @Html.BaseEamDisplayFor(model => model.LastUpdatedBy)
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
}