﻿@using BaseEAM.Services.Security
@model WorkOrderMiscCostModel
@{
    var defaultGridPageSize = EngineContext.Current.Resolve<BaseEAM.Core.Domain.GeneralSettings>().DefaultGridPageSize;
    var gridPageSizes = EngineContext.Current.Resolve<BaseEAM.Core.Domain.GeneralSettings>().GridPageSizes;
    var primarySystemCurrencySymbol = EngineContext.Current.Resolve<BaseEAM.Core.IWorkContext>().WorkingCurrency.CurrencySymbol;

    var permissionService = EngineContext.Current.Resolve<BaseEAM.Services.IPermissionService>();
    var allowCreate = permissionService.Authorize(StandardPermissionName.Maintenance_WorkOrder_Create);
    var allowRead = permissionService.Authorize(StandardPermissionName.Maintenance_WorkOrder_Read);
    var allowUpdate = permissionService.Authorize(StandardPermissionName.Maintenance_WorkOrder_Update);
    var allowDelete = permissionService.Authorize(StandardPermissionName.Maintenance_WorkOrder_Delete);
}
<div id="group-workOrderMiscCosts" class="panel-group">
    <div class="panel panel-default">
        <div class="panel-heading">
            <button type="button" id="createWorkOrderMiscCost" class="btn btn-primary@(allowCreate || allowUpdate ? "" : " none-display")" title="@T("Common.AddNew")">
                <i class="fa fa-plus-square"></i>
            </button>
            <button type="button" id="deleteSelectedWorkOrderMiscCosts" class="btn btn-primary@(allowCreate || allowUpdate ? "" : " none-display")" title="@T("Common.Delete.Selected")">
                <i class="fa fa-trash-o"></i>
            </button>
        </div>
        <div class="panel-body">
            <div id="workOrderMiscCosts-grid"></div>
            <script>
                var gridCheckboxHandler1_4 = new BaseEam.CheckBoxHandler('workOrderMiscCosts-grid');
                gridCheckboxHandler1_4.init();

                $(document).ready(function () {
                    $("#workOrderMiscCosts-grid").kendoGrid({
                        dataSource: {
                            type: "json",
                            transport: {
                                read: {
                                    url: "@Html.Raw(Url.Action("WorkOrderMiscCostList", "WorkOrder"))",
                                    type: "POST",
                                    dataType: "json",
                                    data: additionalData1_4
                                }
                            },
                            schema: {
                                data: "Data",
                                total: "Total",
                                errors: "Errors",
                                model: {
                                    id: "Id"
                                }
                            },
                            aggregate: [
                                { field: "PlanTotal", aggregate: "sum" },
                                { field: "ActualTotal", aggregate: "sum" }
                            ],
                            error: function(e) {
                                display_kendoui_grid_error(e);
                                // Cancel the changes
                                this.cancelChanges();
                            },
                            pageSize: @(defaultGridPageSize),
                            serverPaging: true,
                            serverFiltering: true,
                            serverSorting: true
                        },
                        pageable: {
                            refresh: true,
                            pageSizes: [@(gridPageSizes)],
                            @Html.Partial("_GridPagerMessages")
                        },
                        sortable: true,
                        editable: false,
                        scrollable: false,
                        dataBound: gridCheckboxHandler1_4.onDataBound,
                        columns: [{
                            field: "Id",
                            headerTemplate: "<input id='workOrderMiscCosts-grid-mastercheckbox' type='checkbox'/>",
                            headerAttributes: { style: "text-align:center" },
                            attributes: { style: "text-align:center" },
                            template: "<input type='checkbox' value='#=Id#' class='checkboxGroups'/>",
                            width: 50,
                            sortable: false
                        },{
                            field: "Sequence",
                            title: "@T("WorkOrderMiscCost.Sequence")"
                        }, {
                            field: "Description",
                            title: "@T("WorkOrderMiscCost.Description")"
                        }, {
                            field: "PlanQuantity",
                            title: "@T("WorkOrderMiscCost.PlanQuantity")",
                            template: '#= PlanQuantity != null ? kendo.toString(PlanQuantity, "n") : "" #'
                        }, {
                            field: "PlanUnitPrice",
                            title: "@T("WorkOrderMiscCost.PlanUnitPrice") [@(primarySystemCurrencySymbol)]",
                            template: '#= PlanUnitPrice != null ? kendo.toString(PlanUnitPrice, "n") : "" #'
                        }, {
                            field: "PlanTotal",
                            title: "@T("WorkOrderMiscCost.PlanTotal") [@(primarySystemCurrencySymbol)]",
                            template: '#= PlanTotal != null ? kendo.toString(PlanTotal, "n") : "" #',
                            footerTemplate: '#= sum != null ? kendo.toString(sum, "n") : "" #'
                        }, {
                            field: "ActualQuantity",
                            title: "@T("WorkOrderMiscCost.ActualQuantity")",
                            template: '#= ActualQuantity != null ? kendo.toString(ActualQuantity, "n") : "" #'
                        }, {
                            field: "ActualUnitPrice",
                            title: "@T("WorkOrderMiscCost.ActualUnitPrice") [@(primarySystemCurrencySymbol)]",
                            template: '#= ActualUnitPrice != null ? kendo.toString(ActualUnitPrice, "n") : "" #'
                        }, {
                            field: "ActualTotal",
                            title: "@T("WorkOrderMiscCost.ActualTotal") [@(primarySystemCurrencySymbol)]",
                            template: '#= ActualTotal != null ? kendo.toString(ActualTotal, "n") : "" #',
                            footerTemplate: '#= sum != null ? kendo.toString(sum, "n") : "" #'
                        }, {
                            field: "Id",
                            headerTemplate: "",
                            width: 100,
                            template: '<button type="button" class="btn btn-primary@(allowRead || allowUpdate ? "" : " none-display")" onclick="editWorkOrderMiscCost(event, #=Id#);"></span><i class="fa fa-pencil aria-hidden="true""></i></a>' +
                                    '<button type="button" class="btn btn-primary@(allowDelete ? "" : " none-display")" title="@T("Common.Delete")" onclick="deleteWorkOrderMiscCost(event, #=Id#);"></span><i class="fa fa-trash aria-hidden="true""></i></a>',
                            sortable: false
                        }]
                    });
                });
            </script>
        </div>
    </div>
</div>
<script type="text/javascript">
    function editWorkOrderMiscCost(e, id){
        e.preventDefault();
        if($('#panel-workOrderMiscCost').is(":visible")){
            togglePanelWorkOrderMiscCost(false);
        }

        var postData = {
            id : id
        };
        addAntiForgeryToken(postData);

        $.ajax({
            cache: false,
            type: "POST",
            url: "@(Url.Action("WorkOrderMiscCost", "WorkOrder"))",
            data: postData,
            success: function(data) {
                //append html
                $("#group-workOrderMiscCosts").append(data.Html);

                //then toggle the panel
                togglePanelWorkOrderMiscCost(true);
            },
            error: function(xhr, ajaxOptions, thrownError) {
                showBSModal({title: 'ERROR', body: thrownError});
            },
            traditional: true
        });
    };

    function deleteWorkOrderMiscCost(e, id){
        e.preventDefault();
        //check if panel-workOrderMiscCost is open => close it before delete
        if($('#panel-workOrderMiscCost').is(":visible")){
            togglePanelWorkOrderMiscCost(false);
        }

        BaseEam.Grid.deleteRow($("#Id").val(), id, "@Url.Action("DeleteWorkOrderMiscCost", "WorkOrder")", "workOrderMiscCosts-grid", "", true);
    };

    function additionalData1_4() {
        var data = {
            workOrderId: $("#Id").val()
        };
        addAntiForgeryToken(data);
        return data;
    }

    function togglePanelWorkOrderMiscCost(editmode) {
        if (editmode) {
            $('#panel-workOrderMiscCost').show();
            $('#createWorkOrderMiscCost').hide();
            $('#deleteSelectedWorkOrderMiscCosts').hide();
        }
        else {
            ////remove the panel html so we won't care
            //about dirty change tracking for newly added input tag
            $('#panel-workOrderMiscCost').remove();
            $('#createWorkOrderMiscCost').show();
            $('#deleteSelectedWorkOrderMiscCosts').show();
        }
    }

    $(document).ready(function () {
        $("#createWorkOrderMiscCost").click(function(e){
            e.preventDefault();
            var postData = {
                workOrderId : $("#Id").val()
            };
            addAntiForgeryToken(postData);

            $.ajax({
                cache: false,
                type: "POST",
                url: "@(Url.Action("CreateWorkOrderMiscCost", "WorkOrder"))",
                data: postData,
                success: function(data) {
                    //append html
                    $("#group-workOrderMiscCosts").append(data.Html);

                    //then toggle the panel
                    togglePanelWorkOrderMiscCost(true);
                },
                error: function(xhr, ajaxOptions, thrownError) {
                    showBSModal({title: 'ERROR', body: thrownError});
                },
                traditional: true
            });
        });

        $("#deleteSelectedWorkOrderMiscCosts").click(function(e){
            e.preventDefault();
            BaseEam.Grid.deleteSelectedRows($("#Id").val(), gridCheckboxHandler1_4.selectedIds, "@Url.Action("DeleteSelectedWorkOrderMiscCosts", "WorkOrder")", "workOrderMiscCosts-grid", "", true);
        });
    });
</script>