@model ModuleModel
<form id="create-module-popup" class="eam-popup">
    <div class="content">
        <div class="validation-summary-errors none-display" id="module-error">
        </div>
        <div class="form-horizontal">
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.BaseEamLabelFor(model => model.Name)
                            </div>
                            <div class="col-md-9">
                                @Html.BaseEamEditorFor(model => model.Name)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.BaseEamLabelFor(model => model.Description)
                            </div>
                            <div class="col-md-9">
                                @Html.BaseEamEditorFor(model => model.Description)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.BaseEamLabelFor(model => model.DisplayOrder)
                            </div>
                            <div class="col-md-9">
                                @Html.BaseEamEditorFor(model => model.DisplayOrder)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

