@model TaskGroupModel
@Html.HiddenFor(model => model.Id)
@Html.HiddenFor(model => model.IsNew)

<script>
    $(document).ready(function () {
        bindBootstrapTabSelectEvent('taskGroup-edit');
    });

    function savedCallback(data) {
        viewModel.isNew(false);
    }
</script>

<div class="content">
    <div class="form-horizontal">
        <div id="taskGroup-edit" class="nav-tabs-custom">
            <ul class="nav nav-tabs">
                @Html.RenderBootstrapTabHeader("tab-info", @T("TaskGroup.Info"), true)
                @Html.RenderBootstrapTabHeader("tab-tasks", @T("TaskGroup.Tasks"))
                @Html.RenderBootstrapTabHeader("tab-whereUsed", @T("TaskGroup.WhereUsed"))
            </ul>
            <div class="tab-content">
                @Html.RenderBootstrapTabContent("tab-info", @TabInfo(), true)
                @Html.RenderBootstrapTabContent("tab-tasks", @TabTasks(), dataBind: "visible: !isNew()")
                @Html.RenderBootstrapTabContent("tab-whereUsed", @TabWhereUsed(), dataBind: "visible: !isNew()")
            </div>
        </div>
    </div>
</div>

@{
    //custom tabs
    var eventMessage = new AdminTabStripCreated(this.Html, "taskGroup-edit");
    EngineContext.Current.Resolve<IEventPublisher>().Publish(eventMessage);
    foreach (var eventBlock in eventMessage.BlocksToRender)
    {
        @eventBlock
    }
}

@helper TabInfo()
{
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.BaseEamLabelFor(model => model.Name, required: true)
                    </div>
                    <div class="col-md-9">
                        @Html.BaseEamEditorFor(model => model.Name)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.BaseEamLabelFor(model => model.Description)
                    </div>
                    <div class="col-md-9">
                        @Html.BaseEamEditorFor(model => model.Description)
                    </div>
                </div>
                @if (Model.Id > 0 && Model.IsNew == false)
                {
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.BaseEamLabelFor(model => model.FirstCreatedBy)
                        </div>
                        <div class="col-md-9">
                            @Html.BaseEamDisplayFor(model => model.FirstCreatedBy)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.BaseEamLabelFor(model => model.LastUpdatedBy)
                        </div>
                        <div class="col-md-9">
                            @Html.BaseEamDisplayFor(model => model.LastUpdatedBy)
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
}
@helper TabTasks()
{
    @Html.Partial("_Tasks", new TaskModel())
}

@helper TabWhereUsed()
{
    @Html.Partial("_WhereUsed", Model)
}