@using BaseEAM.Services.Security
@model TaskGroupModel

@{
    //page title
    ViewBag.Title = T("TaskGroup.EditTaskGroupDetails").Text;
    var permissionService = EngineContext.Current.Resolve<BaseEAM.Services.IPermissionService>();
    var allowCreate = permissionService.Authorize(StandardPermissionName.Maintenance_TaskGroup_Create);
    var allowRead = permissionService.Authorize(StandardPermissionName.Maintenance_TaskGroup_Read);
    var allowUpdate = permissionService.Authorize(StandardPermissionName.Maintenance_TaskGroup_Update);
    var allowDelete = permissionService.Authorize(StandardPermissionName.Maintenance_TaskGroup_Delete);
}
@using (Html.BeginForm("Edit", "TaskGroup", FormMethod.Post, new { id = "taskGroup-form" }))
{
    @Html.AntiForgeryToken()
    <div class="content-header clearfix">
        <h1 class="pull-left">
            <small><i class="fa fa-arrow-circle-left fa-padding"></i>@Html.ActionLink(T("Common.BackToList").Text, "List")</small>
        </h1>
        <div class="pull-right">
            <button type="button" id="save" name="save" class="btn btn-primary@(allowCreate || allowUpdate ? "" : " none-display")" title="@T("Common.Save")">
                <i class="fa fa-floppy-o"></i>
            </button>
            <button type="button" id="cancel" name="cancel" class="btn btn-primary@(Model.IsNew == true ? "" : " none-display")" title="@T("Common.Cancel")">
                <i class="fa fa-ban"></i>
            </button>
            <button type="button" id="taskGroup-delete" class="btn btn-primary@(allowDelete && Model.IsNew == false ? "" : " none-display")" title="@T("Common.Delete")">
                <i class="fa fa-trash-o"></i>
            </button>
        </div>
    </div>
    <div id="validation-summary" class="validation-summary-errors" style="display:none">
    </div>
    @Html.Partial("_CreateOrUpdate", Model)
    <script type="text/javascript">
        var viewModel;
        function initializeViewModel() {
            viewModel = {
                isNew: ko.observable($('#IsNew').val() == 'True' ? true : false),
            };
            ko.applyBindings(viewModel);
        };

        $(document).ready(function () {
            //initialize view model
            initializeViewModel();

            $("#save").click(function (e) {
                e.preventDefault();
                saveForm('taskGroup-form', '@(Url.Action("Edit", "TaskGroup"))', savedCallback);
            });

            $("#cancel").click(function (e) {
                e.preventDefault();
                $('#form').removeClass('dirty');
                BaseEam.Grid.deleteRow(null, @Model.Id, "@Url.Action("Cancel", "TaskGroup")", "",  "@Url.Action("List", "TaskGroup")", false);
            });

            $("#taskGroup-delete").click(function (e) {
                e.preventDefault();
                BaseEam.Grid.deleteRow(null, @Model.Id, "@Url.Action("Delete", "TaskGroup")", "", "@Url.Action("List", "TaskGroup")", true);
            });
        });
    </script>
}