@using System.Collections.Generic;
@using BaseEAM.Web.Models
@model SearchModel

<div class="panel panel-default panel-search">
    @*<div class="panel-heading">
        <button type="button" id="search" class="btn btn-primary" title="@T("Common.Search")">
            <i class="fa fa-search"></i>            
        </button>
    </div>*@
    <div class="panel-body">
        <div class="row">
            @*Left side fields*@
            <div class="col-md-6">
                @foreach (var filter in Model.Filters)
                {
                    if (filter.DisplayOrder % 2 == 1)
                    {
                        <div class="form-group">
                            @*Label*@
                            <div class="col-md-3">
                                @Html.BaseEamFieldLabel(filter)
                            </div>
                            @*Operator*@
                            <div class="col-md-2">
                                @Html.BaseEamFieldOperator(filter)
                            </div>
                            @*Value*@
                            <div class="col-md-7">
                                @Html.BaseEamFieldValue(filter)
                            </div>
                        </div>
                    }
                }
            </div>
            @*Right side fields*@
            <div class="col-md-6">
                @foreach (var filter in Model.Filters)
                {
                    if (filter.DisplayOrder % 2 == 0)
                    {
                        <div class="form-group">
                            @*Label*@
                            <div class="col-md-3">
                                @Html.BaseEamFieldLabel(filter)
                            </div>
                            @*Operator*@
                            <div class="col-md-2">
                                @Html.BaseEamFieldOperator(filter)
                            </div>
                            @*Value*@
                            <div class="col-md-7">
                                @Html.BaseEamFieldValue(filter)
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 pull-right">
                <button type="button" id="search" class="btn btn-primary" title="@T("Common.Search")">
                    <i class="fa fa-search fa-padding"></i>
                    @T("Common.Search")
                </button>
            </div>
        </div>
    </div>
</div>