@model Int32

<div class="keen-dashboard">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-8">
                <div class="chart-wrapper" id="@(Model*8)">
                    <div class="chart-title">
                        <span>Cell Title</span>
                        <div class="pull-right">
                            <button type="button" id="delete" class="btn btn-box-tool" title="@T("Common.Delete")">
                                <i class="fa fa-times"></i>
                            </button>
                        </div>
                    </div>
                    <div class="chart-filter">
                    </div>
                    <div class="chart-stage">
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="chart-wrapper" id="@(Model*8 + 1)">
                    <div class="chart-title">
                        <span>Cell Title</span>
                        <div class="pull-right">
                            <button type="button" id="delete" class="btn btn-box-tool" title="@T("Common.Delete")">
                                <i class="fa fa-times"></i>
                            </button>
                        </div>
                    </div>
                    <div class="chart-filter">
                    </div>
                    <div class="chart-stage">
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 col-md-4">
                <div class="chart-wrapper" id="@(Model*8 + 2)">
                    <div class="chart-title">
                        <span>Cell Title</span>
                        <div class="pull-right">
                            <button type="button" class="btn btn-box-tool" title="@T("Common.Delete")">
                                <i class="fa fa-times"></i>
                            </button>
                        </div>
                    </div>
                    <div class="chart-filter">
                    </div>
                    <div class="chart-stage">
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="chart-wrapper" id="@(Model*8 + 3)">
                    <div class="chart-title">
                        <span>Cell Title</span>
                        <div class="pull-right">
                            <button type="button" class="btn btn-box-tool" title="@T("Common.Delete")">
                                <i class="fa fa-times"></i>
                            </button>
                        </div>
                    </div>
                    <div class="chart-filter">
                    </div>
                    <div class="chart-stage">
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="chart-wrapper" id="@(Model*8 + 4)">
                    <div class="chart-title">
                        <span>Cell Title</span>
                        <div class="pull-right">
                            <button type="button" class="btn btn-box-tool" title="@T("Common.Delete")">
                                <i class="fa fa-times"></i>
                            </button>
                        </div>
                    </div>
                    <div class="chart-filter">
                    </div>
                    <div class="chart-stage">
                    </div>
                </div>
            </div>
            <!-- end of three -->
            <div class="col-sm-6 col-md-4">
                <div class="chart-wrapper" id="@(Model*8 + 5)">
                    <div class="chart-title">
                        <span>Cell Title</span>
                        <div class="pull-right">
                            <button type="button" class="btn btn-box-tool" title="@T("Common.Delete")">
                                <i class="fa fa-times"></i>
                            </button>
                        </div>
                    </div>
                    <div class="chart-filter">
                    </div>
                    <div class="chart-stage">
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="chart-wrapper" id="@(Model*8 + 6)">
                    <div class="chart-title">
                        <span>Cell Title</span>
                        <div class="pull-right">
                            <button type="button" class="btn btn-box-tool" title="@T("Common.Delete")">
                                <i class="fa fa-times"></i>
                            </button>
                        </div>
                    </div>
                    <div class="chart-filter">
                    </div>
                    <div class="chart-stage">
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="chart-wrapper" id="@(Model*8 + 7)">
                    <div class="chart-title">
                        <span>Cell Title</span>
                        <div class="pull-right">
                            <button type="button" class="btn btn-box-tool" title="@T("Common.Delete")">
                                <i class="fa fa-times"></i>
                            </button>
                        </div>
                    </div>
                    <div class="chart-filter">
                    </div>
                    <div class="chart-stage">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>