@using BaseEAM.Services.Security
@using BaseEAM.Web.Framework.CustomField
@using BaseEAM.Web.Framework.Session
@model SearchModel
@{
    var defaultGridPageSize = EngineContext.Current.Resolve<BaseEAM.Core.Domain.GeneralSettings>().DefaultGridPageSize;
    var gridPageSizes = EngineContext.Current.Resolve<BaseEAM.Core.Domain.GeneralSettings>().GridPageSizes;

    var searchModel = ViewBag.MyAssignmentSearchModel as SearchModel;
}
<div id="group-myAssignments" class="panel-group">
    @Html.Partial("Filter", searchModel)
    <div class="panel panel-default">
        <div class="panel-body">
            <div id="myAssignments-grid"></div>
            <script>
                $(document).ready(function () {
                    $("#myAssignments-grid").kendoGrid({
                        dataSource: {
                            type: "json",
                            transport: {
                                read: {
                                    url: "@Html.Raw(Url.Action("MyAssignmentList", "Dashboard"))",
                                    type: "POST",
                                    dataType: "json",
                                    data: additionalData
                                }
                            },
                            schema: {
                                data: "Data",
                                total: "Total",
                                errors: "Errors",
                                model: {
                                }
                            },
                            error: function(e) {
                                display_kendoui_grid_error(e);
                                // Cancel the changes
                                this.cancelChanges();
                            },
                            pageSize: @(defaultGridPageSize),
                            serverPaging: true,
                            serverFiltering: true,
                            serverSorting: true
                        },
                        pageable: {
                            refresh: true,
                            pageSizes: [@(gridPageSizes)],
                            @Html.Partial("_GridPagerMessages")
                        },
                        sortable: false,
                        editable: false,
                        scrollable: false,
                        columns: [{
                            field: "AssignmentType",
                            title: "@T("Assignment.AssignmentType")"
                        }, {
                            field: "Number",
                            title: "@T("Number")"
                        }, {
                            field: "Description",
                            title: "@T("Description")"
                        }, {
                            field: "PriorityText",
                            title: "@T("Priority")"
                        }, {
                            field: "ExpectedStartDateTime",
                            title: "@T("Assignment.ExpectedStartDateTime")",
                            template: '#= ExpectedStartDateTime != null ? kendo.toString(kendo.parseDate(ExpectedStartDateTime, "MM/dd/yyyy HH:mm:ss"), "MM/dd/yyyy HH:mm:ss") : "" #'
                        }, {
                            field: "DueDateTime",
                            title: "@T("Assignment.DueDateTime")",
                            template: '#= DueDateTime != null ? kendo.toString(kendo.parseDate(DueDateTime, "MM/dd/yyyy HH:mm:ss"), "MM/dd/yyyy HH:mm:ss") : "" #'
                        }, {
                            field: "Name",
                            title: "@T("Assignment.Name")"
                        }, {
                            field: "Id",
                            headerTemplate: "",
                            width: 60,
                            template: '<a class="btn btn-primary" title="@T("Common.Details")" href="#=EntityType#/Edit/#=EntityId#"></span><i class="fa fa-pencil aria-hidden="true""></i></a>',
                            sortable: false
                        }]
                    });
                });
            </script>
        </div>
    </div>
</div>

<script type="text/javascript">
    function additionalData() {
        var data = {
            searchValues: $("#group-myAssignments div.panel-search").find(':input').serialize()
        };
        addAntiForgeryToken(data);
        return data;
    }

    $(document).ready(function () {
        //search button
        $('#group-myAssignments').find('#search').click(function () {
            //search
            var grid = $('#myAssignments-grid').data('kendoGrid');
            grid.dataSource.page(1); //new search. Set page size to 1
            //grid.dataSource.read(); we already loaded the grid above using "page" function
            return false;
        });

        $("#group-myAssignments div.panel-search").find(':input').keydown(function (event) {
            if (event.keyCode == 13) {
                $('#group-myAssignments').find('#search').click();
                return false;
            }
        });
    });
</script>