@using BaseEAM.Services.Security
@model SiteModel
@{
    var defaultGridPageSize = EngineContext.Current.Resolve<BaseEAM.Core.Domain.GeneralSettings>().DefaultGridPageSize;
    var gridPageSizes = EngineContext.Current.Resolve<BaseEAM.Core.Domain.GeneralSettings>().GridPageSizes;

    var permissionService = EngineContext.Current.Resolve<BaseEAM.Services.IPermissionService>();
    var allowCreate = permissionService.Authorize(StandardPermissionName.Security_SecurityGroup_Create);
    var allowRead = permissionService.Authorize(StandardPermissionName.Security_SecurityGroup_Read);
    var allowUpdate = permissionService.Authorize(StandardPermissionName.Security_SecurityGroup_Update);
    var allowDelete = permissionService.Authorize(StandardPermissionName.Security_SecurityGroup_Delete);
}
<div id="group-sites" class="panel-group">
    <div class="panel panel-default">
        <div class="panel-heading">
            <button type="button" id="selectSites" class="btn btn-primary@(allowCreate ? "" : " none-display")" title="@T("SecurityGroup.SelectSites")">
                <i class="fa fa-plus-square"></i>
            </button>
            <button type="button" id="deleteSelectedSites" class="btn btn-primary@(allowCreate || allowUpdate ? "" : " none-display")" title="@T("Common.Delete.Selected")">
                <i class="fa fa-trash-o"></i>
            </button>
        </div>
        <div class="panel-body">
            <div id="sites-grid"></div>
            <script>
                var gridCheckboxHandler1 = new BaseEam.CheckBoxHandler('sites-grid');
                gridCheckboxHandler1.init();

                $(document).ready(function () {
                    $("#sites-grid").kendoGrid({
                        dataSource: {
                            type: "json",
                            transport: {
                                read: {
                                    url: "@Html.Raw(Url.Action("SiteList", "SecurityGroup"))",
                                    type: "POST",
                                    dataType: "json",
                                    data: additionalData1
                                }
                            },
                            schema: {
                                data: "Data",
                                total: "Total",
                                errors: "Errors",
                                model: {
                                    id: "Id"
                                }
                            },
                            error: function(e) {
                                display_kendoui_grid_error(e);
                                // Cancel the changes
                                this.cancelChanges();
                            },
                            pageSize: @(defaultGridPageSize),
                            serverPaging: true,
                            serverFiltering: true,
                            serverSorting: true
                        },
                        pageable: {
                            refresh: true,
                            pageSizes: [@(gridPageSizes)],
                            @Html.Partial("_GridPagerMessages")
                        },
                        sortable: true,
                        editable: false,
                        scrollable: false,
                        dataBound: gridCheckboxHandler1.onDataBound,
                        columns: [{
                            field: "Id",
                            headerTemplate: "<input id='sites-grid-mastercheckbox' type='checkbox'/>",
                            headerAttributes: { style: "text-align:center" },
                            attributes: { style: "text-align:center" },
                            template: "<input type='checkbox' value='#=Id#' class='checkboxGroups'/>",
                            width: 50,
                            sortable: false
                        },{
                            field: "Name",
                            title: "@T("Site.Name")"
                        }, {
                            field: "Description",
                            title: "@T("Site.Description")"
                        }, {
                            field: "Id",
                            headerTemplate: "",
                            width: 50,
                            template: '<button type="button" class="btn btn-primary@(allowDelete ? "" : " none-display")" href="" onclick="deleteSite(event, #=Id#);"></span><i class="fa fa-trash aria-hidden="true""></i></a>',
                            sortable: false
                        }]
                    });
                });
            </script>
        </div>
    </div>
</div>

<script type="text/javascript">

    function deleteSite(e, id){
        e.preventDefault();
        //check if panel-site is open => close it before delete
        if($('#panel-site').is(":visible")){
            togglePanelSite(false);
        }

        BaseEam.Grid.deleteRow($("#Id").val(), id, "@Url.Action("DeleteSite", "SecurityGroup")", "sites-grid", "", true);
    };

    function additionalData1() {
        var data = {
            securityGroupId: $("#Id").val()
        };
        addAntiForgeryToken(data);
        return data;
    }

    function selectSites(e) {
        e.preventDefault();
        var postData = {
            securityGroupId: $("#Id").val(),
            selectedIds: sitesCheckboxHandler.selectedIds
        };
        addAntiForgeryToken(postData);
        $.ajax({
            cache: false,
            type: "POST",
            url: '@Url.Action("AddSites", "SecurityGroup")',
            data: postData,
            success: function (data) {
                if (data && data.Errors) {
                    showErrors(data.Errors, '#ml-sites-error');
                } else {
                    //hide modal popup
                    $(e.target).parents('.modal').modal('hide');

                    //refresh grid
                    var grid = $('#sites-grid').data('kendoGrid');
                    grid.dataSource.page(1);
                }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                showBSModal({ title: "Error", body: thrownError });
            },
            traditional: true
        });
    }

    $(document).ready(function () {
        $("#selectSites").click(function(e){
            e.preventDefault();
            $.get('@Url.Action("MLSiteView", "Lookup")', function(data) {
                showBSModal({
                    title: "@T("SecurityGroup.SelectSites")",
                    size: "large",
                    body: data,
                    actions: [{
                        label: '@T("Common.Save")',
                        cssClass: 'btn-success',
                        onClick: selectSites
                    },{
                        label: '@T("Common.Cancel")',
                        cssClass: 'btn-danger',
                        onClick: function(e){
                            $(e.target).parents('.modal').modal('hide');
                        }
                    }]
                });
            });
        });

        $("#deleteSelectedSites").click(function(e){
            e.preventDefault();
            BaseEam.Grid.deleteSelectedRows($("#Id").val(), gridCheckboxHandler1.selectedIds, "@Url.Action("DeleteSelectedSites", "SecurityGroup")", "sites-grid", "", true);
        });
    });
</script>