@model MessageModel
@Html.HiddenFor(model => model.Id)
@Html.HiddenFor(model => model.IsNew)

<div class="content">
    <div class="form-horizontal">
        <div id="message-edit" class="nav-tabs-custom">
            <ul class="nav nav-tabs">
                @Html.RenderBootstrapTabHeader("tab-info", @T("Message.Info"), true)
            </ul>
            <div class="tab-content">
                @Html.RenderBootstrapTabContent("tab-info", @TabInfo(), true)
            </div>
        </div>
    </div>
</div>

@{
    //custom tabs
    var eventMessage = new AdminTabStripCreated(this.Html, "message-edit");
    EngineContext.Current.Resolve<IEventPublisher>().Publish(eventMessage);
    foreach (var eventBlock in eventMessage.BlocksToRender)
    {
        @eventBlock
    }
}

@helper TabInfo()
{
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.BaseEamLabelFor(model => model.SentDateTime)
                            </div>
                            <div class="col-md-9">
                                @Html.BaseEamEditorFor(model => model.SentDateTime)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.BaseEamLabelFor(model => model.IsSuccessful)
                            </div>
                            <div class="col-md-9">
                                @Html.BaseEamEditorFor(model => model.IsSuccessful)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.BaseEamLabelFor(model => model.NumberOfTries)
                            </div>
                            <div class="col-md-9">
                                @Html.BaseEamEditorFor(model => model.NumberOfTries)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.BaseEamLabelFor(model => model.MessageTypeText)
                            </div>
                            <div class="col-md-9">
                                @Html.BaseEamEditorFor(model => model.MessageTypeText)
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.BaseEamLabelFor(model => model.Subject)
                            </div>
                            <div class="col-md-9">
                                @Html.BaseEamEditorFor(model => model.Subject)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.BaseEamLabelFor(model => model.Sender)
                            </div>
                            <div class="col-md-9">
                                @Html.BaseEamEditorFor(model => model.Sender)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.BaseEamLabelFor(model => model.Recipients)
                            </div>
                            <div class="col-md-9">
                                @Html.BaseEamEditorFor(model => model.Recipients)
                            </div>
                        </div>
                    </div>
                </div>
                <hr/>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="col-md-2">
                                @Html.BaseEamLabelFor(model => model.Messages)
                            </div>
                            <div class="col-md-10">
                                @Html.BaseEamTextAreaFor(model => model.Messages, rows: 8)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-2">
                                @Html.BaseEamLabelFor(model => model.Errors)
                            </div>
                            <div class="col-md-10">
                                @Html.BaseEamTextAreaFor(model => model.Errors, rows: 8)
                            </div>
                        </div>
                    </div>
                </div>
                <hr/>
                @if (Model.Id > 0 && Model.IsNew == false)
                {
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-md-3">
                                    @Html.BaseEamLabelFor(model => model.FirstCreatedBy)
                                </div>
                                <div class="col-md-9">
                                    @Html.BaseEamDisplayFor(model => model.FirstCreatedBy)
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-3">
                                    @Html.BaseEamLabelFor(model => model.LastUpdatedBy)
                                </div>
                                <div class="col-md-9">
                                    @Html.BaseEamDisplayFor(model => model.LastUpdatedBy)
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
}