@using BaseEAM.Services.Security
@model SiteModel
@{
    var defaultGridPageSize = EngineContext.Current.Resolve<BaseEAM.Core.Domain.GeneralSettings>().DefaultGridPageSize;
    var gridPageSizes = EngineContext.Current.Resolve<BaseEAM.Core.Domain.GeneralSettings>().GridPageSizes;

    var permissionService = EngineContext.Current.Resolve<BaseEAM.Services.IPermissionService>();
    var allowCreate = permissionService.Authorize(StandardPermissionName.Administration_Site_Create);
    var allowRead = permissionService.Authorize(StandardPermissionName.Administration_Site_Read);
    var allowUpdate = permissionService.Authorize(StandardPermissionName.Administration_Site_Update);
    var allowDelete = permissionService.Authorize(StandardPermissionName.Administration_Site_Delete);
}
<div id="group-sites" class="panel-group">
    <div class="panel panel-default">
        <div class="panel-heading">
            <button type="button" id="createSite" class="btn btn-primary@(allowCreate ? "" : " none-display")" title="@T("Common.AddNew")">
                <i class="fa fa-plus-square"></i>
            </button>
            <button type="button" id="deleteSelectedSites" class="btn btn-primary@(allowDelete ? "" : " none-display")" title="@T("Common.Delete.Selected")">
                <i class="fa fa-trash-o"></i>
            </button>
        </div>
        <div class="panel-body">
            <div id="sites-grid"></div>
            <script>
                var gridCheckboxHandler2 = new BaseEam.CheckBoxHandler('sites-grid');
                gridCheckboxHandler2.init();

                $(document).ready(function () {
                    $("#sites-grid").kendoGrid({
                        dataSource: {
                            type: "json",
                            transport: {
                                read: {
                                    url: "@Html.Raw(Url.Action("SiteList", "Organization"))",
                                    type: "POST",
                                    dataType: "json",
                                    data: additionalData
                                }
                            },
                            schema: {
                                data: "Data",
                                total: "Total",
                                errors: "Errors",
                                model: {
                                    id: "Id"
                                }
                            },
                            error: function(e) {
                                display_kendoui_grid_error(e);
                                // Cancel the changes
                                this.cancelChanges();
                            },
                            pageSize: @(defaultGridPageSize),
                            serverPaging: true,
                            serverFiltering: true,
                            serverSorting: true
                        },
                        pageable: {
                            refresh: true,
                            pageSizes: [@(gridPageSizes)],
                            @Html.Partial("_GridPagerMessages")
                        },
                        sortable: true,
                        editable: false,
                        scrollable: false,
                        dataBound: gridCheckboxHandler2.onDataBound,
                        columns: [{
                            field: "Id",
                            headerTemplate: "<input id='sites-grid-mastercheckbox' type='checkbox'/>",
                            headerAttributes: { style: "text-align:center" },
                            attributes: { style: "text-align:center" },
                            template: "<input type='checkbox' value='#=Id#' class='checkboxGroups'/>",
                            width: 50,
                            sortable: false
                        },{
                            field: "Name",
                            title: "@T("Site.Name")"
                        }, {
                            field: "Description",
                            title: "@T("Site.Description")"
                        }, {
                            field: "Id",
                            headerTemplate: "",
                            width: 100,
                            template: '<button type="button" class="btn btn-primary@(allowRead || allowUpdate ? "" : " none-display")" onclick="editSite(event, #=Id#);"></span><i class="fa fa-pencil aria-hidden="true""></i></a>' +
                                    '<button type="button" class="btn btn-primary@(allowDelete ? "" : " none-display")" href="" onclick="deleteSite(event, #=Id#);"></span><i class="fa fa-trash aria-hidden="true""></i></a>',
                            sortable: false
                        }]
                    });
                });
            </script>
        </div>
    </div>
</div>

<script type="text/javascript">
    function editSite(e, id){
        e.preventDefault();
        if($('#panel-site').is(":visible")){
            togglePanelSite(false);
        }
        var postData = {
            id : id
        };
        addAntiForgeryToken(postData);

        $.ajax({
            cache: false,
            type: "POST",
            url: "@(Url.Action("Site", "Organization"))",
            data: postData,
            success: function(data) {
                //append html
                $("#group-sites").append(data.Html);

                //then toggle the panel
                togglePanelSite(true);
            },
            error: function(xhr, ajaxOptions, thrownError) {
                showBSModal({title: 'ERROR', body: thrownError});
            },
            traditional: true
        });
    };

    function deleteSite(e, id){
        e.preventDefault();
        //check if panel-site is open => close it before delete
        if($('#panel-site').is(":visible")){
            togglePanelSite(false);
        }

        BaseEam.Grid.deleteRow($("#Id").val(), id, "@Url.Action("DeleteSite", "Organization")", "sites-grid", "", true);
    };

    //function additionalData() {
    //    var data = {
    //        organizationId: $("#Id").val()
    //    };
    //    addAntiForgeryToken(data);
    //    return data;
    //}

    function togglePanelSite(editmode) {
        if (editmode) {
            $('#panel-site').show();
            $('#createSite').hide();
            $('#deleteSelectedSites').hide();
        }
        else {
            ////remove the panel html so we won't care
            //about dirty change tracking for newly added input tag
            $('#panel-site').remove();
            $('#createSite').show();
            $('#deleteSelectedSites').show();
        }
    }

    $(document).ready(function () {
        $("#createSite").click(function(e){
            e.preventDefault();
            var postData = {
                organizationId : $("#Id").val()
            };
            addAntiForgeryToken(postData);

            $.ajax({
                cache: false,
                type: "POST",
                url: "@(Url.Action("CreateSite", "Organization"))",
                data: postData,
                success: function(data) {
                    //append html
                    $("#group-sites").append(data.Html);

                    //then toggle the panel
                    togglePanelSite(true);
                },
                error: function(xhr, ajaxOptions, thrownError) {
                    showBSModal({title: 'ERROR', body: thrownError});
                },
                traditional: true
            });
        });

        $("#deleteSelectedSites").click(function(e){
            e.preventDefault();
            BaseEam.Grid.deleteSelectedRows($("#Id").val(), gridCheckboxHandler2.selectedIds, "@Url.Action("DeleteSelectedSites", "Organization")", "sites-grid", "", true);
        });
    });
</script>