@using BaseEAM.Services.Security
@model PMMiscCostModel
@{
    var permissionService = EngineContext.Current.Resolve<BaseEAM.Services.IPermissionService>();
    var allowCreate = permissionService.Authorize(StandardPermissionName.Maintenance_PreventiveMaintenance_Create);
    var allowRead = permissionService.Authorize(StandardPermissionName.Maintenance_PreventiveMaintenance_Read);
    var allowUpdate = permissionService.Authorize(StandardPermissionName.Maintenance_PreventiveMaintenance_Update);
    var allowDelete = permissionService.Authorize(StandardPermissionName.Maintenance_PreventiveMaintenance_Delete);

    var primarySystemCurrencySymbol = EngineContext.Current.Resolve<BaseEAM.Core.IWorkContext>().WorkingCurrency.CurrencySymbol;
}

<div id="panel-pMMiscCost" class="panel panel-default eam-panel">
    <div class="panel-heading">
        <button type="button" id="savePMMiscCost" class="btn btn-primary@(allowCreate || allowUpdate ? "" : " none-display")" title="@T("Common.Save")">
            <i class="fa fa-floppy-o"></i>
        </button>
        <button type="button" id="cancelPMMiscCost" class="btn btn-primary" title="@T("Common.Cancel")">
            <i class="fa fa-ban"></i>
        </button>
    </div>
    <div class="panel-body">
        @Html.Hidden("PreventiveMaintenanceId", Model.PreventiveMaintenanceId)
        @Html.Hidden("PMMiscCostId", Model.Id)
        <div id="pMMiscCost-error" class="validation-summary-errors none-display">
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.BaseEamLabelFor(model => model.Sequence, required: true)
                    </div>
                    <div class="col-md-9">
                        @Html.BaseEamEditorFor(model => model.Sequence)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.BaseEamLabelFor(model => model.Description)
                    </div>
                    <div class="col-md-9">
                        @Html.BaseEamTextAreaFor(model => model.Description)
                    </div>
                </div>
            </div>
        </div>
        <hr />
        <h4>@T("PMMiscCost.Plan")</h4>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.BaseEamLabelFor(model => model.PlanQuantity)
                    </div>
                    <div class="col-md-9">
                        @Html.BaseEamEditorFor(model => model.PlanQuantity)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.BaseEamLabelFor(model => model.PlanUnitPrice)
                    </div>
                    <div class="col-md-9">
                        @Html.BaseEamEditorFor(model => model.PlanUnitPrice, postfix: primarySystemCurrencySymbol)
                    </div>
                </div>
            </div>
        </div>
        <hr />
    </div>
    <script type="text/javascript">
        $("#savePMMiscCost").click(function (e) {
            e.preventDefault();
            var $group = $("#panel-pMMiscCost :input");
            var postData = $group.serializeJSON({ checkboxUncheckedValue: "false" });
            //change Id property name so it can map to MVC model
            postData.Id = postData.PMMiscCostId;
            addAntiForgeryToken(postData);

            $.ajax({
                cache: false,
                type: "POST",
                url: "@(Url.Action("SavePMMiscCost", "PreventiveMaintenance"))",
                data: postData,
                success: function (data) {
                    if (data && data.Errors) {
                        showErrors(data.Errors, '#pMMiscCost-error');
                    } else {
                        //then toggle the panel
                        togglePanelPMMiscCost(false);

                        //refresh grid
                        var grid = $('#pMMiscCosts-grid').data('kendoGrid');
                        grid.dataSource.page(1);
                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    showBSModal({ title: 'ERROR', body: thrownError });
                },
                traditional: true
            });
        });

        $("#cancelPMMiscCost").click(function (e) {
            e.preventDefault();
            var postData = {
                id: $("#PMMiscCostId").val()
            };
            addAntiForgeryToken(postData);

            $.ajax({
                cache: false,
                type: "POST",
                url: "@(Url.Action("CancelPMMiscCost", "PreventiveMaintenance"))",
                data: postData,
                success: function (data) {
                    //toggle the panel
                    togglePanelPMMiscCost(false);
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    showBSModal({ title: 'ERROR', body: thrownError });
                },
                traditional: true
            });
        });

    </script>
</div>