﻿@using BaseEAM.Services.Security
@model PMServiceItemModel
@{
    var defaultGridPageSize = EngineContext.Current.Resolve<BaseEAM.Core.Domain.GeneralSettings>().DefaultGridPageSize;
    var gridPageSizes = EngineContext.Current.Resolve<BaseEAM.Core.Domain.GeneralSettings>().GridPageSizes;
    var primarySystemCurrencySymbol = EngineContext.Current.Resolve<BaseEAM.Core.IWorkContext>().WorkingCurrency.CurrencySymbol;

    var permissionService = EngineContext.Current.Resolve<BaseEAM.Services.IPermissionService>();
    var allowCreate = permissionService.Authorize(StandardPermissionName.Maintenance_PreventiveMaintenance_Create);
    var allowRead = permissionService.Authorize(StandardPermissionName.Maintenance_PreventiveMaintenance_Read);
    var allowUpdate = permissionService.Authorize(StandardPermissionName.Maintenance_PreventiveMaintenance_Update);
    var allowDelete = permissionService.Authorize(StandardPermissionName.Maintenance_PreventiveMaintenance_Delete);
}
<div id="group-pMServiceItems" class="panel-group">
    <div class="panel panel-default">
        <div class="panel-heading">
            <button type="button" id="createPMServiceItem" class="btn btn-primary@(allowCreate || allowUpdate ? "" : " none-display")" title="@T("Common.AddNew")">
                <i class="fa fa-plus-square"></i>
            </button>
            <button type="button" id="deleteSelectedPMServiceItems" class="btn btn-primary@(allowCreate || allowUpdate ? "" : " none-display")" title="@T("Common.Delete.Selected")">
                <i class="fa fa-trash-o"></i>
            </button>
        </div>
        <div class="panel-body">
            <div id="pMServiceItems-grid"></div>
            <script>
                var gridCheckboxHandler2_2 = new BaseEam.CheckBoxHandler('pMServiceItems-grid');
                gridCheckboxHandler2_2.init();

                $(document).ready(function () {
                    $("#pMServiceItems-grid").kendoGrid({
                        dataSource: {
                            type: "json",
                            transport: {
                                read: {
                                    url: "@Html.Raw(Url.Action("PMServiceItemList", "PreventiveMaintenance"))",
                                    type: "POST",
                                    dataType: "json",
                                    data: additionalData2_2
                                },
                                //This is used to map field to format that the server can understand
                                //it runs after the data (additionalData) populated
                                parameterMap: function (data, operation) {
                                    sortMapping = [{ from: "ServiceItemName", to: "ServiceItem.Name" }];
                                    BaseEam.Grid.mapSortColumns(data.sort, sortMapping);
                                    return data;
                                }
                            },
                            schema: {
                                data: "Data",
                                total: "Total",
                                errors: "Errors",
                                model: {
                                    id: "Id"
                                }
                            },
                            aggregate: [
                                { field: "PlanTotal", aggregate: "sum" }
                            ],
                            error: function(e) {
                                display_kendoui_grid_error(e);
                                // Cancel the changes
                                this.cancelChanges();
                            },
                            pageSize: @(defaultGridPageSize),
                            serverPaging: true,
                            serverFiltering: true,
                            serverSorting: true
                        },
                        pageable: {
                            refresh: true,
                            pageSizes: [@(gridPageSizes)],
                            @Html.Partial("_GridPagerMessages")
                        },
                        sortable: true,
                        editable: false,
                        scrollable: false,
                        dataBound: gridCheckboxHandler2_2.onDataBound,
                        columns: [{
                            field: "Id",
                            headerTemplate: "<input id='pMServiceItems-grid-mastercheckbox' type='checkbox'/>",
                            headerAttributes: { style: "text-align:center" },
                            attributes: { style: "text-align:center" },
                            template: "<input type='checkbox' value='#=Id#' class='checkboxGroups'/>",
                            width: 50,
                            sortable: false
                        },{
                            field: "ServiceItemName",
                            title: "@T("ServiceItem")"
                        }, {
                            field: "Description",
                            title: "@T("PMServiceItem.Description")"
                        }, {
                            field: "PlanUnitPrice",
                            title: "@T("PMServiceItem.PlanUnitPrice") [@(primarySystemCurrencySymbol)]",
                            template: '#= PlanUnitPrice != null ? kendo.toString(PlanUnitPrice, "n") : "" #'
                        }, {
                            field: "PlanQuantity",
                            title: "@T("PMServiceItem.PlanQuantity")",
                            template: '#= PlanQuantity != null ? kendo.toString(PlanQuantity, "n") : "" #'
                        }, {
                            field: "PlanTotal",
                            title: "@T("PMServiceItem.PlanTotal") [@(primarySystemCurrencySymbol)]",
                            template: '#= PlanTotal != null ? kendo.toString(PlanTotal, "n") : "" #',
                            footerTemplate: '#= sum != null ? kendo.toString(sum, "n") : "" #'
                        }, {
                            field: "Id",
                            headerTemplate: "",
                            width: 100,
                            template: '<button type="button" class="btn btn-primary@(allowRead || allowUpdate ? "" : " none-display")" onclick="editPMServiceItem(event, #=Id#);"></span><i class="fa fa-pencil aria-hidden="true""></i></a>' +
                                    '<button type="button" class="btn btn-primary@(allowDelete ? "" : " none-display")" title="@T("Common.Delete")" onclick="deletePMServiceItem(event, #=Id#);"></span><i class="fa fa-trash aria-hidden="true""></i></a>',
                            sortable: false
                        }]
                    });
                });
            </script>
        </div>
    </div>
</div>
<script type="text/javascript">
    function editPMServiceItem(e, id){
        e.preventDefault();
        if($('#panel-pMServiceItem').is(":visible")){
            togglePanelPMServiceItem(false);
        }
        var postData = {
            id : id
        };
        addAntiForgeryToken(postData);

        $.ajax({
            cache: false,
            type: "POST",
            url: "@(Url.Action("PMServiceItem", "PreventiveMaintenance"))",
            data: postData,
            success: function(data) {
                //append html
                $("#group-pMServiceItems").append(data.Html);

                //then toggle the panel
                togglePanelPMServiceItem(true);
            },
            error: function(xhr, ajaxOptions, thrownError) {
                showBSModal({title: 'ERROR', body: thrownError});
            },
            traditional: true
        });
    };

    function deletePMServiceItem(e, id){
        e.preventDefault();
        //check if panel-pMServiceItem is open => close it before delete
        if($('#panel-pMServiceItem').is(":visible")){
            togglePanelPMServiceItem(false);
        }

        BaseEam.Grid.deleteRow($("#Id").val(), id, "@Url.Action("DeletePMServiceItem", "PreventiveMaintenance")", "pMServiceItems-grid", "", true);
    };

    function additionalData2_2() {
        var data = {
            preventiveMaintenanceId: $("#Id").val()
        };
        addAntiForgeryToken(data);
        return data;
    }

    function togglePanelPMServiceItem(editmode) {
        if (editmode) {
            $('#panel-pMServiceItem').show();
            $('#createPMServiceItem').hide();
            $('#deleteSelectedPMServiceItems').hide();
        }
        else {
            ////remove the panel html so we won't care
            //about dirty change tracking for newly added input tag
            $('#panel-pMServiceItem').remove();
            $('#createPMServiceItem').show();
            $('#deleteSelectedPMServiceItems').show();
        }
    }

    $(document).ready(function () {
        $("#createPMServiceItem").click(function(e){
            e.preventDefault();
            var postData = {
                preventiveMaintenanceId : $("#Id").val()
            };
            addAntiForgeryToken(postData);

            $.ajax({
                cache: false,
                type: "POST",
                url: "@(Url.Action("CreatePMServiceItem", "PreventiveMaintenance"))",
                data: postData,
                success: function(data) {
                    //append html
                    $("#group-pMServiceItems").append(data.Html);

                    //then toggle the panel
                    togglePanelPMServiceItem(true);
                },
                error: function(xhr, ajaxOptions, thrownError) {
                    showBSModal({title: 'ERROR', body: thrownError});
                },
                traditional: true
            });
        });

        $("#deleteSelectedPMServiceItems").click(function(e){
            e.preventDefault();
            BaseEam.Grid.deleteSelectedRows($("#Id").val(), gridCheckboxHandler2_2.selectedIds, "@Url.Action("DeleteSelectedPMServiceItems", "PreventiveMaintenance")", "pMServiceItems-grid", "", true);
        });
    });
</script>
