@using BaseEAM.Services.Security
@model SearchModel
@{
    //page title
    ViewBag.Title = T("System.ImportProfile").Text;

    var defaultGridPageSize = EngineContext.Current.Resolve<BaseEAM.Core.Domain.GeneralSettings>().DefaultGridPageSize;
    var gridPageSizes = EngineContext.Current.Resolve<BaseEAM.Core.Domain.GeneralSettings>().GridPageSizes;

    var permissionService = EngineContext.Current.Resolve<BaseEAM.Services.IPermissionService>();
    var allowCreate = permissionService.Authorize(StandardPermissionName.System_ImportProfile_Create);
    var allowRead = permissionService.Authorize(StandardPermissionName.System_ImportProfile_Read);
    var allowExecute = permissionService.Authorize(StandardPermissionName.System_ImportProfile_Execute);
    var allowUpdate = permissionService.Authorize(StandardPermissionName.System_ImportProfile_Update);
    var allowDelete = permissionService.Authorize(StandardPermissionName.System_ImportProfile_Delete);
}

@Html.AntiForgeryToken()
<div class="content-header clearfix">
    <h1 class="pull-left">
        @T("System.ImportProfile")
    </h1>
    <div class="pull-right">
        <button type="button" id="create" class="btn btn-primary btn-master@(allowCreate ? "" : " none-display")" title="@T("Common.AddNew")">
            <i class="fa fa-plus-square"></i>
        </button>
        <button type="button" id="delete-selected" class="btn btn-primary btn-master@(allowDelete ? "" : " none-display")" title="@T("Common.Delete.Selected")">
            <i class="fa fa-trash-o"></i>
        </button>
    </div>
</div>
<div class="validation-summary-errors none-display">
</div>
<div class="content">
    <div class="form-horizontal">
        <div class="panel-group">
            @Html.Partial("Filter", Model)
            <div class="panel panel-default">
                <div class="panel-body">
                    <div id="importProfiles-grid"></div>

                    <script>
                        $(document).ready(function () {
                            $("#importProfiles-grid").kendoGrid({
                                dataSource: {
                                    type: "json",
                                    transport: {
                                        read: {
                                            url: "@Html.Raw(Url.Action("List", "ImportProfile"))",
                                            type: "POST",
                                            dataType: "json",
                                            data: additionalData
                                        }
                                    },
                                    schema: {
                                        data: "Data",
                                        total: "Total",
                                        errors: "Errors",
                                        model: {
                                            fields: {
                                                Id: { hidden: false, editable: false, defaultValue: 0 },
                                                Name: { editable: false, validation: { required: { message: '@T("ImportProfile.Name.Required")'}} },
                                                ImportProfileType: { editable: false, defaultValue: {} },
                                            }
                                        }
                                    },
                                    error: function (e) {
                                        display_kendoui_grid_error(e);
                                        // Cancel the changes
                                        this.cancelChanges();
                                    },
                                    pageSize: @(defaultGridPageSize),
                                    serverPaging: true,
                                    serverFiltering: true,
                                    serverSorting: true
                                },
                                pageable: {
                                    refresh: true,
                                    pageSizes: [@(gridPageSizes)],
                                    @Html.Partial("_GridPagerMessages")
                                },
                                sortable: true,
                                editable: false,
                                scrollable: false,
                                dataBound: gridCheckboxHandler.onDataBound,
                                columns: [{
                                    field: "Id",
                                    headerTemplate: "<input id='importProfiles-grid-mastercheckbox' type='checkbox'/>",
                                    headerAttributes: { style: "text-align:center" },
                                    attributes: { style: "text-align:center" },
                                    template: "<input type='checkbox' value='#=Id#' class='checkboxGroups'/>",
                                    width: 50,
                                    sortable: false
                                }, {
                                    field: "Name",
                                    title: "@T("ImportProfile.Name")"
                                }, {
                                    field: "EntityType",
                                    title: "@T("EntityType")",
                                    sortable: false
                                }, {
                                    field: "ImportFileName",
                                    title: "@T("ImportProfile.ImportFileName")",
                                }, {
                                    field: "LastRunStartDateTime",
                                    title: "@T("ImportProfile.LastRunStartDateTime")",
                                    template: '#= LastRunStartDateTime != null ? kendo.toString(kendo.parseDate(LastRunStartDateTime, "MM/dd/yyyy HH:mm:ss"), "MM/dd/yyyy HH:mm:ss") : "" #',
                                }, {
                                    field: "LastRunEndDateTime",
                                    title: "@T("ImportProfile.LastRunEndDateTime")",
                                    template: '#= LastRunEndDateTime != null ? kendo.toString(kendo.parseDate(LastRunEndDateTime, "MM/dd/yyyy HH:mm:ss"), "MM/dd/yyyy HH:mm:ss") : "" #',
                                }, {
                                    field: "Id",
                                    headerTemplate: "",
                                    width: 190,
                                    template: '<a class="btn btn-primary@(allowRead || allowUpdate ? "" : " none-display")" title="@T("Common.Details")" href="Edit/#=Id#"></span><i class="fa fa-pencil aria-hidden="true""></i></a>' +
                                            '<button type="button" class="btn btn-primary@(allowRead || allowUpdate ? "" : " none-display")" title="@T("Common.RunNow")" onclick="runNowImportProfile(event, #=Id#);"></span><i class="fa fa-play aria-hidden="true""></i></button>' +
                                            '<a type="button" class="btn btn-primary@(allowRead ? "" : " none-display")" title="@T("Common.ViewLogFile")" href="ViewLogFile/#=Id#" target="_blank"></span><i class="fa fa-history aria-hidden="true""></i></a>' +
                                            '<button type="button" class="btn btn-primary@(allowDelete ? "" : " none-display")" title="@T("Common.Delete")" onclick="deleteImportProfile(event, #=Id#);"></span><i class="fa fa-trash aria-hidden="true""></i></button>',
                                    sortable: false
                                }
                                ]
                            });
                        });
                    </script>
                    <script type="text/javascript">
                        var gridCheckboxHandler = new BaseEam.CheckBoxHandler('importProfiles-grid');
                        gridCheckboxHandler.init();

                        function deleteImportProfile(e, id){
                            e.preventDefault();
                            BaseEam.Grid.deleteRow(null, id, "@Url.Action("Delete", "ImportProfile")", "importProfiles-grid", "", true);
                        }

                        $(document).ready(function () {
                            //search button
                            $('#search').click(function () {
                                //search
                                var grid = $('#importProfiles-grid').data('kendoGrid');
                                grid.dataSource.page(1); //new search. Set page size to 1
                                //grid.dataSource.read(); we already loaded the grid above using "page" function
                                return false;
                            });

                            $("div.panel-search").find(':input').keydown(function (event) {
                                if (event.keyCode == 13) {
                                    $("#search").click();
                                    return false;
                                }
                            });

                            //create
                            $('#create').click(function(e) {
                                e.preventDefault();
                                addNewRecord('@(Url.Action("Create", "ImportProfile"))', '@Url.Action("Edit", "ImportProfile")');
                            });

                            //delete selected
                            $('#delete-selected').click(function (e) {
                                e.preventDefault();
                                BaseEam.Grid.deleteSelectedRows(null, gridCheckboxHandler.selectedIds, "@Url.Action("DeleteSelected", "ImportProfile")", "importProfiles-grid", "", true);
                                return false;
                            });
                        });


                        function additionalData() {
                            var data = {
                                searchValues: $("div.panel-search").find(':input').serialize()
                            };
                            addAntiForgeryToken(data);
                            return data;
                        }

                        function runNowImportProfile(e, id) {
                            e.preventDefault();
                            $.when(kendo.ui.ExtOkCancelDialog.show({
                                title: "WARNING!",
                                message: '@T("Common.WouldYouLikeToProcess")',
                                icon: 'k-ext-warning'
                            }))
                                .done(function (response) {
                                    if (response.button == "OK") {
                                        var postData = {
                                            id: id
                                        };
                                        addAntiForgeryToken(postData);

                                        $.ajax({
                                            cache: false,
                                            type: "POST",
                                            url: "@(Url.Action("Execute", "ImportProfile"))",
                                            data: postData,
                                            success: function (data) {
                                                if (data && data.Errors) {
                                                    showBSModal({ title: 'Error!', body: data.Errors });
                                                } else {
                                                    showBSModal({ title: 'Processing Import!', body: data.Message });
                                                }
                                            },
                                            error: function (xhr, ajaxOptions, thrownError) {
                                                showBSModal({ title: 'ERROR', body: thrownError });
                                            },
                                            traditional: true
                                        });
                                    }
                                });
                        };
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>