@model SearchModel
@{
    var defaultGridPageSize = EngineContext.Current.Resolve<BaseEAM.Core.Domain.GeneralSettings>().DefaultGridPageSize;
    var gridPageSizes = EngineContext.Current.Resolve<BaseEAM.Core.Domain.GeneralSettings>().GridPageSizes;

    var valueFieldId = ViewBag.ValueFieldId;
    var textFieldId = ViewBag.TextFieldId;
}
<div class="content" id="sl-locations-popup">
    <div class="validation-summary-errors none-display" id="sl-locations-error">
    </div>
    <div class="form-horizontal">
        <div class="panel-group">
            @Html.Partial("Filter", Model)
            <div class="panel panel-default">
                <div class="panel-body">
                    <div id="sl-locations-grid"></div>

                </div>
            </div>
        </div>
    </div>
    <script>
        function additionalData() {
            var data = {
                searchValues: $("#sl-locations-popup div.panel-search").find(':input').serialize()
            };
            addAntiForgeryToken(data);
            return data;
        }

        $("#sl-locations-grid").kendoGrid({
            dataSource: {
                type: "json",
                transport: {
                    read: {
                        url: "@Html.Raw(Url.Action("LocationList", "Lookup"))",
                        type: "POST",
                        dataType: "json",
                        data: additionalData
                    },
                    parameterMap: function(data, operation) {
                        return data;
                    }
                },
                schema: {
                    data: "Data",
                    total: "Total",
                    errors: "Errors",
                    model: {
                        fields: {
                        }
                    }
                },
                error: function (e) {
                    display_kendoui_grid_error(e);
                    // Cancel the changes
                    this.cancelChanges();
                },
                pageSize: @(defaultGridPageSize),
                serverPaging: true,
                serverFiltering: true,
                serverSorting: true
            },
            pageable: {
                refresh: true,
                pageSizes: [@(gridPageSizes)],
                @Html.Partial("_GridPagerMessages")
            },
            sortable: true,
            editable: false,
            scrollable: false,
            columns: [{
                field: "Name",
                title: "@T("Location.Name")",
                template: "<a href='' onclick='slLocationSelected(event, #=Id#, \"#=Name#\");'>#=Name#</a>"
            }, {
                field: "HierarchyNamePath",
                title: "@T("Common.HierarchyNamePath")"
            }, {
                field: "LocationType.Name",
                title: "@T("Location.LocationType")"
            }, {
                field: "LocationStatus.Name",
                title: "@T("Location.LocationStatus")"
            }, {
                field: "Site.Name",
                title: "@T("Site")"
            }
            ]
        });

        //search button
        $('#sl-locations-popup').find('#search').click(function () {
            //search
            var grid = $('#sl-locations-grid').data('kendoGrid');
            grid.dataSource.page(1); //new search. Set page size to 1
            //grid.dataSource.read(); we already loaded the grid above using "page" function
            return false;
        });

        $("#sl-locations-popup div.panel-search").find(':input').keydown(function (event) {
            if (event.keyCode == 13) {
                $('#sl-locations-popup').find('#search').click();
                return false;
            }
        });

        function slLocationSelected(e, id, name){
            e.preventDefault();
            $('#@valueFieldId').val(id).change();
            $('#@textFieldId').val(name);

            //fire selected event
            window.EventBroker.publish(BaseEam.Events.SLLocationSelected, null);

            //hide modal popup
            $('.modal').modal('hide');
        }
    </script>
</div>
