@model StoreItemModel
<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.BaseEamLabelFor(model => model.SafetyStock)
                        </div>
                        <div class="col-md-9">
                            @Html.BaseEamEditorFor(model => model.SafetyStock)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.BaseEamLabelFor(model => model.ReorderPoint)
                        </div>
                        <div class="col-md-9">
                            @Html.BaseEamEditorFor(model => model.ReorderPoint)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.BaseEamLabelFor(model => model.EconomicOrderQuantity)
                        </div>
                        <div class="col-md-9">
                            @Html.BaseEamEditorFor(model => model.EconomicOrderQuantity)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>