@using BaseEAM.Services.Security
@model ContactModel
@{
    var defaultGridPageSize = EngineContext.Current.Resolve<BaseEAM.Core.Domain.GeneralSettings>().DefaultGridPageSize;
    var gridPageSizes = EngineContext.Current.Resolve<BaseEAM.Core.Domain.GeneralSettings>().GridPageSizes;

    var permissionService = EngineContext.Current.Resolve<BaseEAM.Services.IPermissionService>();
    var allowCreate = permissionService.Authorize(StandardPermissionName.Purchasing_Company_Create);
    var allowRead = permissionService.Authorize(StandardPermissionName.Purchasing_Company_Read);
    var allowUpdate = permissionService.Authorize(StandardPermissionName.Purchasing_Company_Update);
    var allowDelete = permissionService.Authorize(StandardPermissionName.Purchasing_Company_Delete);
}
<div id="group-contacts" class="panel-group">
    <div class="panel panel-default">
        <div class="panel-heading">
            <button type="button" id="createContact" class="btn btn-primary@(allowCreate || allowUpdate ? "" : " none-display")" title="@T("Common.AddNew")">
                <i class="fa fa-plus-square"></i>
            </button>
            <button type="button" id="deleteSelectedContacts" class="btn btn-primary@(allowCreate || allowUpdate ? "" : " none-display")" title="@T("Common.Delete.Selected")">
                <i class="fa fa-trash-o"></i>
            </button>
        </div>
        <div class="panel-body">
            <div id="contacts-grid"></div>
            <script>
                var gridCheckboxHandler1 = new BaseEam.CheckBoxHandler('contacts-grid');
                gridCheckboxHandler1.init();

                $(document).ready(function () {
                    $("#contacts-grid").kendoGrid({
                        dataSource: {
                            type: "json",
                            transport: {
                                read: {
                                    url: "@Html.Raw(Url.Action("ContactList", "Company"))",
                                    type: "POST",
                                    dataType: "json",
                                    data: additionalData
                                }
                            },
                            schema: {
                                data: "Data",
                                total: "Total",
                                errors: "Errors",
                                model: {
                                    id: "Id"
                                }
                            },
                            error: function(e) {
                                display_kendoui_grid_error(e);
                                // Cancel the changes
                                this.cancelChanges();
                            },
                            pageSize: @(defaultGridPageSize),
                            serverPaging: true,
                            serverFiltering: true,
                            serverSorting: true
                        },
                        pageable: {
                            refresh: true,
                            pageSizes: [@(gridPageSizes)],
                            @Html.Partial("_GridPagerMessages")
                        },
                        sortable: true,
                        editable: false,
                        scrollable: false,
                        dataBound: gridCheckboxHandler1.onDataBound,
                        columns: [{
                            field: "Id",
                            headerTemplate: "<input id='contacts-grid-mastercheckbox' type='checkbox'/>",
                            headerAttributes: { style: "text-align:center" },
                            attributes: { style: "text-align:center" },
                            template: "<input type='checkbox' value='#=Id#' class='checkboxGroups'/>",
                            width: 50,
                            sortable: false
                        },{
                            field: "Name",
                            title: "@T("Contact.Name")"
                        }, {
                            field: "Position",
                            title: "@T("Contact.Position")"
                        }, {
                            field: "Email",
                            title: "@T("Contact.Email")"
                        }, {
                            field: "Phone",
                            title: "@T("Contact.Phone")"
                        }, {
                            field: "Fax",
                            title: "@T("Contact.Fax")"
                        }, {
                            field: "Id",
                            headerTemplate: "",
                            width: 100,
                            template: '<a class="btn btn-primary@(allowCreate || allowUpdate ? "" : " none-display")" href="" onclick="editContact(event, #=Id#);"></span><i class="fa fa-pencil aria-hidden="true""></i></a>' +
                                    '<a class="btn btn-primary@(allowCreate || allowUpdate ? "" : " none-display")" href="" onclick="deleteContact(event, #=Id#);"></span><i class="fa fa-trash aria-hidden="true""></i></a>',
                            sortable: false
                        }]
                    });
                });
            </script>
        </div>
    </div>
</div>

<script type="text/javascript">
    function editContact(e, id){
        e.preventDefault();
        if($('#panel-contact').is(":visible")){
            togglePanelContact(false);
        }
        var postData = {
            id : id
        };
        addAntiForgeryToken(postData);

        $.ajax({
            cache: false,
            type: "POST",
            url: "@(Url.Action("Contact", "Company"))",
            data: postData,
            success: function(data) {
                //append html
                $("#group-contacts").append(data.Html);

                //then toggle the panel
                togglePanelContact(true);
            },
            error: function(xhr, ajaxOptions, thrownError) {
                showBSModal({title: 'ERROR', body: thrownError});
            },
            traditional: true
        });
    };

    function deleteContact(e, id){
        e.preventDefault();
        //check if panel-contact is open => close it before delete
        if($('#panel-contact').is(":visible")){
            togglePanelContact(false);
        }

        BaseEam.Grid.deleteRow($("#Id").val(), id, "@Url.Action("DeleteContact", "Company")", "contacts-grid", "", true);
    };

    function additionalData() {
        var data = {
            companyId: $("#Id").val()
        };
        addAntiForgeryToken(data);
        return data;
    }

    function togglePanelContact(editmode) {
        if (editmode) {
            $('#panel-contact').show();
            $('#createContact').hide();
            $('#deleteSelectedContacts').hide();
        }
        else {
            ////remove the panel html so we won't care
            //about dirty change tracking for newly added input tag
            $('#panel-contact').remove();
            $('#createContact').show();
            $('#deleteSelectedContacts').show();
        }
    }

    $(document).ready(function () {
        $("#createContact").click(function(e){
            e.preventDefault();
            var postData = {
                companyId : $("#Id").val()
            };
            addAntiForgeryToken(postData);

            $.ajax({
                cache: false,
                type: "POST",
                url: "@(Url.Action("CreateContact", "Company"))",
                data: postData,
                success: function(data) {
                    //append html
                    $("#group-contacts").append(data.Html);

                    //then toggle the panel
                    togglePanelContact(true);
                },
                error: function(xhr, ajaxOptions, thrownError) {
                    showBSModal({title: 'ERROR', body: thrownError});
                },
                traditional: true
            });
        });

        $("#deleteSelectedContacts").click(function(e){
            e.preventDefault();
            BaseEam.Grid.deleteSelectedRows($("#Id").val(), gridCheckboxHandler1.selectedIds, "@Url.Action("DeleteSelectedContacts", "Company")", "contacts-grid", "", true);
        });
    });
</script>