@model CompanyModel
@Html.HiddenFor(model => model.Id)
@Html.HiddenFor(model => model.IsNew)

<script>
    $(document).ready(function () {
        bindBootstrapTabSelectEvent('company-edit');
        if ($('#IsNew').val() == 'True') {
            toggleTabs(false);
        } else {
            toggleTabs(true);
        }
    });

    function toggleTabs(show) {
        if (show) {
            $('#tab-contacts-header').show();
            $('#tab-addresses-header').show();
        } else {
            $('#tab-contacts-header').hide();
            $('#tab-addresses-header').hide();
        }
    }
</script>

<div class="content">
    <div class="form-horizontal">
        <div id="company-edit" class="nav-tabs-custom">
            <ul class="nav nav-tabs">
                @Html.RenderBootstrapTabHeader("tab-info", @T("Company.Info"), true)
                @Html.RenderBootstrapTabHeader("tab-contacts", @T("Company.Contacts"))
                @Html.RenderBootstrapTabHeader("tab-addresses", @T("Company.Addresses"))
            </ul>
            <div class="tab-content">
                @Html.RenderBootstrapTabContent("tab-info", @TabInfo(), true)
                @Html.RenderBootstrapTabContent("tab-contacts", @TabContacts())
                @Html.RenderBootstrapTabContent("tab-addresses", @TabAddresses())
            </div>
        </div>
    </div>
</div>

@{
    //custom tabs
    var eventMessage = new AdminTabStripCreated(this.Html, "company-edit");
    EngineContext.Current.Resolve<IEventPublisher>().Publish(eventMessage);
    foreach (var eventBlock in eventMessage.BlocksToRender)
    {
        @eventBlock
    }
}

@helper TabInfo()
{
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.BaseEamLabelFor(model => model.Name, required: true)
                            </div>
                            <div class="col-md-9">
                                @Html.BaseEamEditorFor(model => model.Name)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.BaseEamLabelFor(model => model.CompanyTypeId, required: true)
                            </div>
                            <div class="col-md-9">
                                @Html.BaseEamComboBoxFor(model => model.CompanyTypeId, "ValueItems", "Common",
                                            new RouteValueDictionary { { "additionalField", "category" }, { "additionalValue", "Company Type" } }, true)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.BaseEamLabelFor(model => model.CurrencyId)
                            </div>
                            <div class="col-md-9">
                                @Html.BaseEamComboBoxFor(model => model.CurrencyId, "GetChoices", "Common",
                                            new RouteValueDictionary { { "dbTable", "Currency" }, { "dbTextColumn", "Name" }, { "dbValueColumn", "Id" } }, true)
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.BaseEamLabelFor(model => model.Description)
                            </div>
                            <div class="col-md-9">
                                @Html.BaseEamEditorFor(model => model.Description)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.BaseEamLabelFor(model => model.Website)
                            </div>
                            <div class="col-md-9">
                                @Html.BaseEamEditorFor(model => model.Website)
                            </div>
                        </div>
                    </div>
                </div>
                @if (Model.Id > 0 && Model.IsNew == false)
                {
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.BaseEamLabelFor(model => model.FirstCreatedBy)
                        </div>
                        <div class="col-md-9">
                            @Html.BaseEamDisplayFor(model => model.FirstCreatedBy)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.BaseEamLabelFor(model => model.LastUpdatedBy)
                        </div>
                        <div class="col-md-9">
                            @Html.BaseEamDisplayFor(model => model.LastUpdatedBy)
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
}
@helper TabContacts()
{
    @Html.Partial("_Contacts", new ContactModel())
}

@helper TabAddresses()
{
    @Html.Partial("_Addresses", new AddressModel())
}
