@using BaseEAM.Services.Security
@model VisualFilterModel
@{
    var defaultGridPageSize = EngineContext.Current.Resolve<BaseEAM.Core.Domain.GeneralSettings>().DefaultGridPageSize;
    var gridPageSizes = EngineContext.Current.Resolve<BaseEAM.Core.Domain.GeneralSettings>().GridPageSizes;

    var permissionService = EngineContext.Current.Resolve<BaseEAM.Services.IPermissionService>();
    var allowCreate = permissionService.Authorize(StandardPermissionName.Report_Visual_Create);
    var allowRead = permissionService.Authorize(StandardPermissionName.Report_Visual_Read);
    var allowUpdate = permissionService.Authorize(StandardPermissionName.Report_Visual_Update);
    var allowDelete = permissionService.Authorize(StandardPermissionName.Report_Visual_Delete);
}
<div id="group-visualFilters" class="panel-group">
    <div class="panel panel-default">
        <div class="panel-heading">
            <button type="button" id="createVisualFilter" class="btn btn-primary@(allowCreate || allowUpdate ? "" : " none-display")" title="@T("Common.AddNew")">
                <i class="fa fa-plus-square"></i>
            </button>
            <button type="button" id="deleteSelectedVisualFilters" class="btn btn-primary@(allowCreate || allowUpdate ? "" : " none-display")" title="@T("Common.Delete.Selected")">
                <i class="fa fa-trash-o"></i>
            </button>
        </div>
        <div class="panel-body">
            <div id="visualFilters-grid"></div>
            <script>
                var gridCheckboxHandler1 = new BaseEam.CheckBoxHandler('visualFilters-grid');
                gridCheckboxHandler1.init();

                $(document).ready(function () {
                    $("#visualFilters-grid").kendoGrid({
                        dataSource: {
                            type: "json",
                            transport: {
                                read: {
                                    url: "@Html.Raw(Url.Action("VisualFilterList", "Visual"))",
                                    type: "POST",
                                    dataType: "json",
                                    data: additionalData1
                                },
                                //This is used to map field to format that the server can understand
                                //it runs after the data (additionalData1) populated
                                parameterMap: function (data, operation) {
                                    sortMapping = [{ from: "FilterName", to: "Filter.Name" },
                                                   { from: "ParentVisualFilterFilterName", to: "ParentVisualFilter.Filter.Name" }
                                                   ];
                                    BaseEam.Grid.mapSortColumns(data.sort, sortMapping);
                                    return data;
                                }
                            },
                            schema: {
                                data: "Data",
                                total: "Total",
                                errors: "Errors",
                                model: {
                                    id: "Id"
                                }
                            },
                            error: function(e) {
                                display_kendoui_grid_error(e);
                                // Cancel the changes
                                this.cancelChanges();
                            },
                            pageSize: @(defaultGridPageSize),
                            serverPaging: true,
                            serverFiltering: true,
                            serverSorting: true
                        },
                        pageable: {
                            refresh: true,
                            pageSizes: [@(gridPageSizes)],
                            @Html.Partial("_GridPagerMessages")
                        },
                        sortable: true,
                        editable: false,
                        scrollable: false,
                        dataBound: gridCheckboxHandler1.onDataBound,
                        columns: [{
                            field: "Id",
                            headerTemplate: "<input id='visualFilters-grid-mastercheckbox' type='checkbox'/>",
                            headerAttributes: { style: "text-align:center" },
                            attributes: { style: "text-align:center" },
                            template: "<input type='checkbox' value='#=Id#' class='checkboxGroups'/>",
                            width: 50,
                            sortable: false
                        },{
                            field: "DisplayOrder",
                            title: "@T("VisualFilter.DisplayOrder")"
                        }, {
                            field: "FilterName",
                            title: "@T("Filter")"
                        }, {
                            field: "ParentVisualFilterFilterName",
                            title: "@T("ParentVisualFilter")"
                        }, {
                            field: "DbColumn",
                            title: "@T("VisualFilter.DbColumn")"
                        }, {
                            field: "IsRequired",
                            title: "@T("VisualFilter.IsRequired")"
                        }, {
                            field: "Id",
                            headerTemplate: "",
                            width: 100,
                            template: '<button type="button" class="btn btn-primary@(allowRead || allowUpdate ? "" : " none-display")" onclick="editVisualFilter(event, #=Id#);"></span><i class="fa fa-pencil aria-hidden="true""></i></a>' +
                                    '<button type="button" class="deleteRow btn btn-primary@(allowDelete ? "" : " none-display")" onclick="deleteVisualFilter(event, #=Id#);"></span><i class="fa fa-trash aria-hidden="true""></i></a>',
                            sortable: false
                        }]
                    });
                });
            </script>
        </div>
    </div>
</div>

<script type="text/javascript">
    function editVisualFilter(e, id){
        e.preventDefault();
        if($('#panel-visualFilter').is(":visible")){
            togglePanelVisualFilter(false);
        }
        var postData = {
            id : id
        };
        addAntiForgeryToken(postData);

        $.ajax({
            cache: false,
            type: "POST",
            url: "@(Url.Action("VisualFilter", "Visual"))",
            data: postData,
            success: function(data) {
                //append html
                $("#group-visualFilters").append(data.Html);

                //then toggle the panel
                togglePanelVisualFilter(true);
            },
            error: function(xhr, ajaxOptions, thrownError) {
                showBSModal({title: 'ERROR', body: thrownError});
            },
            traditional: true
        });
    };

    function deleteVisualFilter(e, id){
        e.preventDefault();
        //check if panel-visualFilter is open => close it before delete
        if($('#panel-visualFilter').is(":visible")){
            togglePanelVisualFilter(false);
        }

        BaseEam.Grid.deleteRow($("#Id").val(), id, "@Url.Action("DeleteVisualFilter", "Visual")", "visualFilters-grid", "", true);
    };

    function additionalData1() {
        var data = {
            visualId: $("#Id").val()
        };
        addAntiForgeryToken(data);
        return data;
    }

    function togglePanelVisualFilter(editmode) {
        if (editmode) {
            $('#panel-visualFilter').show();
            $('#createVisualFilter').hide();
            $('#deleteSelectedVisualFilters').hide();
        }
        else {
            ////remove the panel html so we won't care
            //about dirty change tracking for newly added input tag
            $('#panel-visualFilter').remove();
            $('#createVisualFilter').show();
            $('#deleteSelectedVisualFilters').show();
        }
    }

    $(document).ready(function () {
        $("#createVisualFilter").click(function(e){
            e.preventDefault();
            var postData = {
                visualId : $("#Id").val()
            };
            addAntiForgeryToken(postData);

            $.ajax({
                cache: false,
                type: "POST",
                url: "@(Url.Action("CreateVisualFilter", "Visual"))",
                data: postData,
                success: function(data) {
                    //append html
                    $("#group-visualFilters").append(data.Html);

                    //then toggle the panel
                    togglePanelVisualFilter(true);
                },
                error: function(xhr, ajaxOptions, thrownError) {
                    showBSModal({title: 'ERROR', body: thrownError});
                },
                traditional: true
            });
        });

        $("#deleteSelectedVisualFilters").click(function(e){
            e.preventDefault();
            BaseEam.Grid.deleteSelectedRows($("#Id").val(), gridCheckboxHandler1.selectedIds, "@Url.Action("DeleteSelectedVisualFilters", "Visual")", "visualFilters-grid", "", true);
        });
    });
</script>